$blue: #439bff;
$light-blue: #9db1cc;

$black: #000;
$gray: rgb(150, 150, 150);

$red: #ff5252;

$white: #fff;

$shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.08);
$shadow-hard: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.5);
